/* 
 * CSS3 effect by Geoffrey Crofte
 * Thank to Simon for good initial stuff (design and initial CSS)
 * 2012 Feb.
 */


/* General */
body {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #000;
}

h2 {
	margin-top:0;
	font-size: 2em;
	font-weight:bold;
	color: #eca603;
}

h3 {
	margin-top:0;

	font-weight:bold;
	color: #ecae56;
}

a {
	font-weight:bold;
	color:#fff;
}

/* Wrapper */
#wrap {
	position: relative;
	top:0;
	-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-o-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}


/* Nav */
#nav {
	position: fixed;
	top: 0; left:0; right: 0;
	padding: 1em 0;
	margin:0;
	background: #000;
	text-align:center;
	font-size: 1em;
	z-index:10;
}
#nav li {
	display: inline;
	margin:0;
}
#nav a {
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 5px #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}


/* slides */
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6 {
	height: 1000px;
	padding-top:100px;
	-webkit-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1);
	-moz-transition: background-position 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	-o-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	background-size:cover;
}

#slide1 { background: url(images/slide1-bg.jpg) center 0 no-repeat fixed; }
#slide2 { background: url(images/slide2-bg.jpg) center 0 no-repeat fixed; }
#slide3 { background: url(images/slide3-bg.jpg) center 0 no-repeat fixed; }
#slide4 { background: url(images/slide4-bg.jpg) center 0 no-repeat fixed; }
#slide5 { background: url(images/slide5-bg.jpg) center 0 no-repeat fixed; }
#slide6 { background: url(images/slide6-bg.jpg) center 0 no-repeat fixed; }


/* Slides contents */
.slide_inside {
	width: 770px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 50px;
	border-radius: 10px;
}

#slide1 .slide_inside {
	text-align: center;
	#background-color: transparent;
	background-color: rgba(0, 0, 0, .6);
}
#slide2 .slide_inside p {
	width: 500px;
	text-align: justify;
}
#slide3 .slide_inside {
	margin-top: 50px;
}
#slide4 .slide_inside {
	margin-top: 50px;
}
#slide5 .slide_inside {
	margin-top: 50px;
}

#slide6 .slide_inside a {
	color: #fe5635;
}
#slide6 .slide_inside li {
	color: #56a5fe;
}


/* Troopers & clone */

#trooper, #table {
	position: absolute;
	left:-80px; top: 300px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	-webkit-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-ms-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-o-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	transition: all 1.4s cubic-bezier(.49,.22,.52,1);
}
#table {
	left: -280px;
	top: 400px;
}


/* targeted elements */

#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:nth-child(1) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -20%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -40%; }
#s1:target ~ #wrap #slide4 { background-position: 50% -60%; }
#s1:target ~ #wrap #slide5 { background-position: 50% -80%; }
#s1:target ~ #wrap #trooper { left: -180px; top: 300px; -webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }
#s1:target ~ #wrap #table { left: -280px; top: 300px;-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }

#s2:target ~ #wrap { top:-1100px; }
#s2:target ~ #wrap #nav li:nth-child(2) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s2:target ~ #wrap #slide1 { background-position: 50% 20%; }
#s2:target ~ #wrap #slide2 { background-position: 50% 0%; }
#s2:target ~ #wrap #slide3 { background-position: 50% -20%; }
#s2:target ~ #wrap #slide4 { background-position: 50% -40%; }
#s2:target ~ #wrap #slide5 { background-position: 50% -60%; }
#s2:target ~ #wrap #trooper { left: -180px; top: -100px; -webkit-transform: rotate(-7deg);-moz-transform: rotate(-7deg);-ms-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg); }
#s2:target ~ #wrap #table { left: -350px; top: 50px; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg); }


#s3:target ~ #wrap { top:-2150px; }
#s3:target ~ #wrap #nav li:nth-child(3) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s3:target ~ #wrap #slide1 { background-position: 50% 40%; }
#s3:target ~ #wrap #slide2 { background-position: 50% 20%; }
#s3:target ~ #wrap #slide3 { background-position: 50% 0%; }
#s3:target ~ #wrap #slide4 { background-position: 50% -20%; }
#s3:target ~ #wrap #slide5 { background-position: 50% -40%; }
#s3:target ~ #wrap #trooper { left:-1500px;top:-1000px;-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform: rotate(-15deg); }
#s3:target ~ #wrap #table { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }


#s4:target ~ #wrap { top:-3300px; }
#s4:target ~ #wrap #nav li:nth-child(4) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s4:target ~ #wrap #slide1 { background-position: 50% 60%; }
#s4:target ~ #wrap #slide2 { background-position: 50% 40%; }
#s4:target ~ #wrap #slide3 { background-position: 50% 20%; }
#s4:target ~ #wrap #slide4 { background-position: 50% 0%; }
#s4:target ~ #wrap #slide5 { background-position: 50% -20%; }
#s4:target ~ #wrap #trooper { left:-1500px;top:-1000px;-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform: rotate(-15deg); }
#s4:target ~ #wrap #table { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }

#s5:target ~ #wrap { top:-4400px; }
#s5:target ~ #wrap #nav li:nth-child(5) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s5:target ~ #wrap #slide1 { background-position: 50% -80%; }
#s5:target ~ #wrap #slide2 { background-position: 50% -60%; }
#s5:target ~ #wrap #slide3 { background-position: 50% -40%; }
#s5:target ~ #wrap #slide4 { background-position: 50% -20%; }
#s5:target ~ #wrap #slide5 { background-position: 50% 0%; }
#s5:target ~ #wrap #trooper { left:-1500px;top:-1000px;-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform: rotate(-15deg); }
#s5:target ~ #wrap #table { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }


/* some social styles */

.fb-like { top: -5px; }
.or_follow { display: inline-block; vertical-align:top; margin-left: 135px; margin-right: 5px; }
